<ion-header>
  <ion-toolbar id="header-container" class="ion-padding">
    <ion-buttons slot="start">
      <ion-button id="Button_Mis_Tops" style="font-size: 2em; color:#B38867" routerLink="/">
        MisTops
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ng-container *ngIf="!this.islogged">
        <ion-button id="Button_Discover" routerLink="/discover">
          Discover
        </ion-button>
        <ion-button id="Button_Rankings" routerLink="/my-rankings">
          My Rankings
        </ion-button>
        <ion-button routerLink="/login">
          Log In
        </ion-button>
      </ng-container>

      <ng-container *ngIf="this.islogged">
        <ion-button (click)="this.logOut()" style="background-color:transparent; color: darkred;">
          Log Out
        </ion-button>
        <ion-button routerLink="/discover">
          Discover
        </ion-button>
        <ion-button routerLink="/my-rankings">
          My Rankings
        </ion-button>
        <ion-button id="Button_Profile" routerLink="/profile">
          <ion-icon name="person" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header_buttons_small">
    <div class="dropdown">
      <ion-button class="header-button" slot="end">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-list slot="start">
        <ion-item routerLink="/discover">
          <ion-icon name="search-outline" slot="start"></ion-icon>
          <ion-label>Discover</ion-label>
        </ion-item>
        <ion-item routerLink="/my-rankings">
          <ion-icon name="heart-outline" slot="start"></ion-icon>
          <ion-label>Rankings</ion-label>
        </ion-item>
        <ion-item (click)="this.logOut()">
          <ion-label style="color: darkred;">Log Out</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-button id="mistops_small_button" class="header-button" routerLink="/">
      MisTops
    </ion-button>

    <ng-container *ngIf="!this.islogged">
      <ion-button class="header-button" routerLink="/login">
        Log In
      </ion-button>
    </ng-container>

    <ng-container *ngIf="this.islogged">
      <ion-button id="login_small_button" class="header-button" routerLink="/profile">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ng-container>
  </div>
</ion-content>
