<ion-content class="ion-padding">
  <div class="container mb-3">
    <div class="ion-align-items-center ion-justify-content-center">
      <div class="ion-col ion-md-12 ion-lg-6 ion-xl-8 ion-hide-md">
        <figure class="landscape-image-figure">
          <!ion-img class="w-100" alt="" style="width: 10em; height:10em" src="assets/images/sample.jpg"><!/ion-img>
        </figure>
      </div>
      <form class="ion-col ion-xl-4 ion-align-items-center ion-text-center ion-justify-content-center" (submit)="onSubmit()">
        <div class="ion-margin-bottom ion-text-center">
          <ion-title class="form-title text-primary display-1">Login</ion-title>
        </div>
        <div class="input-container ion-align-items-center ion-text-center ion-justify-content-center ion-margin-bottom">
            <ion-row class="ion-align-items-center ion-margin-bottom ion-justify-content-center">
              <ion-col size="auto">
                <ion-img class="w-100" alt="" style="width: 2em; height: 2em; margin-right: 0.5em;" src="assets/images/username.png"></ion-img>
              </ion-col>
              <ion-col size="auto" >
                <ion-input class="custom-input" required placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
              </ion-col>
            </ion-row>

          <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
            <ion-col size="auto">
              <ion-img class="w-100" alt="" style="width: 2em; height: 2em; margin-right: 0.5em;" src="assets/images/password.png"></ion-img>
            </ion-col>
            <ion-col size="auto">
              <ion-input class="custom-input" type="password" required placeholder="Password" name="password" [(ngModel)]="password">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-col>
          </ion-row>

        </div>
        <div class="ion-margin-bottom ion-text-center">
          <a id="question-text">Don't have an account?</a>
        </div>
        <div class="ion-margin-top ion-text-center">
          <ion-button id="button" type="submit">Log In</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
