<ion-content>
  <ion-title> Favorites</ion-title>
    <ion-row class="carousel">
      <ion-item *ngFor="let content of contentList">
      <div class="slide">
        <ion-card>
          <ion-card-header>
            <ion-card-title > {{ content.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="content.imageUrl" [alt]="content.title">
          </ion-card-content>
          <ion-button (click)="this['favoritesService'].removeFavorite(content.id)">Remove from Favorites</ion-button>
        </ion-card>
      </div>
      </ion-item>
    </ion-row>
</ion-content>
