<ion-content>
  <ion-title> Favorites</ion-title>
    <ion-row class="carousel">
      <ion-item *ngFor="let top of favoritesList">
        <ion-row class="ion-align-items-center" style="width: 100%">
          <ion-col size="12" size-md="auto" class="ion-text-center">
            <!ion-img [src]="getContentById(top.contentId)?.imageUrl || '../../../assets/sample.jpg'" class="imagen"><!/ion-img>
          </ion-col>
          <ion-col size="12" size-md="6" class="ion-text-center">
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-row>
  <ion-button>Remove from Favorites</ion-button>

</ion-content>

